# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*$py.class

# =====================================================
# VIRTUAL ENVIRONMENTS
# =====================================================

venv/
.venv/
env/
ENV/

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# OS FILES
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# ENVIRONMENT VARIABLES
# =====================================================

.env

# Keep example env
!.env.example

# =====================================================
# TEST / COVERAGE
# =====================================================

.pytest_cache/
.coverage
htmlcov/

# =====================================================
# LOG FILES
# =====================================================

*.log

# =====================================================
# MIGRATION GENERATED DATA
# =====================================================

app/storage/raw/
app/storage/transformed/
app/storage/media/


app/storage/input/csv

# =====================================================
# JOBS
# =====================================================

app/storage/jobs/active/
app/storage/jobs/completed/
app/storage/jobs/failed/
app/storage/jobs/archived/

# =====================================================
# REPORTS
# =====================================================

app/storage/reports/

# =====================================================
# LOGS
# =====================================================

app/storage/logs/

# =====================================================
# FAILURE FILES
# =====================================================

app/storage/failed/

# =====================================================
# PARTIAL FILES
# =====================================================

*_partial.json

# =====================================================
# KEEP FOLDER STRUCTURE
# =====================================================

!app/storage/.gitkeep
!app/storage/input/.gitkeep
!app/storage/input/csv/.gitkeep

!app/storage/raw/.gitkeep
!app/storage/raw/extracted/.gitkeep
!app/storage/raw/structured/.gitkeep

!app/storage/transformed/.gitkeep

!app/storage/jobs/.gitkeep
!app/storage/jobs/active/.gitkeep
!app/storage/jobs/completed/.gitkeep
!app/storage/jobs/failed/.gitkeep
!app/storage/jobs/archived/.gitkeep

!app/storage/reports/.gitkeep

!app/storage/logs/.gitkeep
!app/storage/logs/application/.gitkeep
!app/storage/logs/migration/.gitkeep
!app/storage/logs/api/.gitkeep
!app/storage/logs/error/.gitkeep

!app/storage/failed/.gitkeep

!app/storage/media/.gitkeep

/Prod_folder_structure.txt